<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NodeJS</title>

	<link href="../_css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../_css/style.css">
</head>
<body  onload="init()">
	<!-- ================================= Navigation ==================================== -->
	<nav class="navbar navbar-default">

		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="C:\avk\index.html">AvK <span class="glyphicon glyphicon-flash"></span></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav">
			<!-- Sites -->
					<li class="dropdown">
          				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sites<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="C:\avk\stravkcom\index.html">stravk.com</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\sowlru\index.html">sowl.ru</a></li>
						</ul>
        			</li>
			<!-- Aero -->
					<li class="dropdown">
          				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Aero<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="C:\avk\index\aero\general.html">General</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\aero\fem.html">FEM</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\aero\static.html">Static</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\aero\fatigue.html">Fatigue</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\aero\dt.html">Damage Tolerance</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\aero\structure.html">Structure</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\aero\doors.html">Door</a></li>
						</ul>
        			</li>
			<!-- Code General -->
					<li class="dropdown">
	      				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Code G<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="C:\avk\index\code_g\basics.html">Basics</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\code_g\objects.html">Objects</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\code_g\algorithm.html">Algorithm</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\code_g\other_code.html">Other</a></li>
						</ul>
	    			</li>
			<!-- Code Project -->
					<li class="dropdown">
	      				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Code P<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="C:\avk\index\code_p\c.html">C</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\code_p\unix.html">UX</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\code_p\python.html">Python</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\code_p\php.html">PHP</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\code_p\vba.html">VBA</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\code_p\ml.html">ML</a></li>
						</ul>
	    			</li>
			<!-- Front -->
					<li class="dropdown">
	      				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Front<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="C:\avk\index\front\web.html">HTML - 1991</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\front\ecma.html">ECMA - 1995</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\front\ajax.html">AJAX - 2005</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\front\jquery.html">jQuery - 2006</a></li>
							<li role="separator" class="divider"></li>
							<li class="active"><a href="C:\avk\index\front\nodejs.html">Node - 2009</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\front\angular.html">Angular - 2014</a></li>
						</ul>
	    			</li>
			<!-- Other -->
					<li class="dropdown">
	      				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="C:\avk\index\other\finance.html">Finance</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\other\english.html">English</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\other\electro.html">Electro</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\other\scratch.html">Scratch</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\other\roblox.html">Roblox</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="C:\avk\index\other\other.html">Other</a></li>
						</ul>
	    			</li>
				</ul>
			</div><!-- /.navbar-collapse -->

		</div><!-- /.container-fluid -->

	</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<h3>NodeJS</h3>
				<div class="panel-group" id="accord">

<!-- ============================= 01 ===================================== -->
<div class="panel panel-default">
	<div class="panel-heading">
		<a href="#01" data-toggle="collapse" data-panel="#accord">01</a> | require('fs') | require('http') |
	</div>
	<div class="panel-collapse collapse" id="01">
		<div class="panel-body">
			<p>
1 | Основы |<br>
_.1 | движок Chrome V8 + библиотеки (модули) |<br>
_.2 | используется там, где время соединения больше времени вычисления (чаты,..) |<br>
_.3 | официальный сайт: <a href="https://nodejs.org/en/" target="_blank">nodeJS</a> |<br>
			</p><div class="divider"></div><p>
2 | Установка |<br>
_.1 | nodeJS -> Download |<br>
_.2 | Win+R -> cmd -> PATH - проверить, чтобы была прописана |<br>
_.3 | node - появится аналог консоли в Chrome |<br>
_.4 | Ctrl+C 2 раза - выход |<br>
_.5 | node file.js- запуск файла скрипта |<br>
			</p><div class="divider"></div><p>
3 | Синхронное чтение файла |<br>
_.1 | var fs = require("fs"); - подключение модуля |<br>
_.2 | var t = fs.readFileSync("t.txt"); - зачитать файл синхронно |<br>
_.3 | console.log(t); - вывод текста в байтах | 48 65 6c 6c 6f |<br>
_.4 | console.log(decodeURIComponent(t)); | Hello |<br>
			</p><div class="divider"></div><p>
4 | Асинхронное чтение файла |<br>
_.1 | var fs = require("fs"); |<br>
_.2 | fs.readFile("t.txt", function(err, t){console.log(decodeURIComponent(t));}); |<br>
			</p><div class="divider"></div><p>
5 | Простой сервер |<br>
_.1 | var http = require("http"); - подключение модуля |<br>
_.2 | function fn(req, res){res.writeHead(200); res.write("hi"); res.end(); } |<br>
_._ | в req бросается все что пришло | в res бросается все что ушло |<br>
_._ | res.writeHead(200, {'Content-type':'text/html; charset=utf-8'}); |<br>
_.3 | var app = http.createServer(fn); | <br>
_.4 | app.listen(8080); - сервер встает на прослушку |<br>
_.5 | Chrome -> localhost:8080 - должно появится "hi" |<br>
_.6 | Ctrl+C - выключить сервер |<br>
			</p>
		</div>
	</div>
</div>
<!-- ============================= 02 ===================================== -->
<div class="panel panel-default">
	<div class="panel-heading">
		<a href="#02" data-toggle="collapse" data-panel="#accord">02</a> | server.on() | url.parse(req.url); | require('events') |
	</div>
	<div class="panel-collapse collapse" id="02">
		<div class="panel-body">
			<p>
1 | События http модуля: request |<br>
_.1 | var server = http.createServer().listen(8080); |<br>
_.2 | server.on('reqest', function(req,res){res.writeHead(200); ...}); - ответ |<br>
_.3 | server.on('reqest', function(req,res){console.log('Request:', req,method, req.url); ...}); - запрос |<br>
_._ | req работает только при запросе из браузера |<br>
_.4 | server.on('reqest', function(req,res){console.log(require('url').parse(req.url)); }); - распарсить url |<br>
_._ | .parse(req.url, true) - распарсить url, query как объект |<br>
			</p><div class="divider"></div><p>
2 | url.parse |<br>
_._ | GET запрос: http://localhost:8081/?name=ivan |<br>
_.1 | var input = url.parse(req.url); |<br>
_.2 | if(input.query){..} |<br>
_._ | var q = input.query.split('='); |<br>
			</p><div class="divider"></div><p>
3 | События http модуля |<br>
_.1 | server.on('listening', function(){console.log('Listening: 8080...');}); |<br>
_.2 | server.on('connection', function(){console.log('Connect...');}); |<br>
_.3 | server.close(); - закрыть сервер |<br>
_._ | server.on('close', function(){console.log('The end');}); |<br>
			</p><div class="divider"></div><p>
4 | Создание своего события |<br>
_.1 | var events = require('events'); |<br>
_.2 | var EventEmitter = events.EventEmitter; |<br>
_.3 | var t = new EventEmitter(); - создание объекта |<br>
_.4 | t.on('myEvent', function fn(p){console.log(p);}); - создание события |<br>
_.5 | t.emit('myEvent','test1'); - инициирование события (имя события, параметр) |<br>
			</p>
		</div>
	</div>
</div>
<!-- ============================= 03 ===================================== -->
<div class="panel panel-default">
	<div class="panel-heading">
		<a href="#03" data-toggle="collapse" data-panel="#accord">03</a> | req.pipe(res) | fs.createWriteStream() |
	</div>
	<div class="panel-collapse collapse" id="03">
		<div class="panel-body">
			<p>
1 | потоки http |<br>
_._ | поток - запрос на соединение |<br>
_.1 | var http = require('http').createServer().listen(8080); |<br>
_.2 | http.on('reqest', function(req,res){res.write('hi');... }); |<br>
_._ | req.on('data', function(msg){console.log('msg');}); - прием POST |<br>
_._ | req.on('end', function(){res.end();}); |<br>
_.3 | cmd > curl -d 'hi' http://localhost:8080 - отправка методом POST |<br>
_.4 | req.pipe(res) заменяет req.on('data') + req.on('pipe') |<br>
_._ | req.pipe(res) - возьми request и выложи в response |<br>
			</p><div class="divider"></div><p>
2 | потоки fs |<br>
_.1 | var file = fs.createReadStream('t.txt'); - чтение |<br>
_.2 | var file2 = fs.createWriteStream('t2.txt'); - запись |<br>
_.2 | fil.pipe(file2) - запиши файл в файл2 |<br>
			</p><div class="divider"></div><p>
3 | POST загрузка файла на сервер |<br>
_.1 | var http = require('http').createServer().listen(8080); | var fs = require("fs"); |<br>
_.2 | http.on('reqest', function(req,res){res.write('hi');... }); |<br>
_._ | var f2 = fs.createWriteStream('t2.txt') |<br>
_._ | req.pipe(f2); |<br>
_._ | req.on('end', function(){res.end('uploaded')}); |<br>
_.3 | cmd > curl --upload-file t.txt http://localhost:8080 - отправка методом POST |<br>
			</p><div class="divider"></div><p>
4 | Добавление текста в t2.txt |<br>
_.1 | var http = require('http').createServer().listen(8080); | var fs = require("fs"); |<br>
_.2 | http.on('reqest', function(req,res){res.write('hi');... }); |<br>
_._ | var f2 = fs.createWriteStream('t2.txt') |<br>
_._ | req.on('data', function(t){t='new'+t; f2.write(t);}); |<br>
_._ | req.on('end', function(){res.end('uploaded')}); |<br>
_.3 | cmd > curl --upload-file t.txt http://localhost:8080 - отправка методом POST |<br>
			</p>
		</div>
	</div>
</div>
<!-- ============================= 04 ===================================== -->
<div class="panel panel-default">
	<div class="panel-heading">
		<a href="#04" data-toggle="collapse" data-panel="#accord">04</a> | module.exports | npm i |
	</div>
	<div class="panel-collapse collapse" id="04">
		<div class="panel-body">
			<p>
1 | создание модуля - 1й вариант (функция) |<br>
_.1 | hi.js - создание модуля |<br>
_._ | var hi = function(){console.log("hi");} |<br>
_._ | module.exports = hi; |<br>
_.2 | mods.js - подключение модуля |<br>
_._ | var hi = require('./hi'); |<br>
_._ | hi(); |<br>
			</p><div class="divider"></div><p>
2 | создание модуля - 2й вариант (объект со свойством) |<br>
_.1 | hi.js  | exports.world = function(){console.log("hi")}; |<br>
_.2 | mods.js  |<br>
_._ | var hi = require('./hi');  |<br>
_._ | hi.world(); |<br>
			</p><div class="divider"></div><p>
3 | создание модуля - 3й вариант (конструктор) |<br>
_.1 | hi.js |<br>
_._ | function Course(){this.title = function(){console.log("node");};} |<br>
_._ | module.exports = Course; |<br>
_.2 | mods.js  |<br>
_._ | var c = reqiure("./hi.js"); |<br>
_._ | var node = new c.Course(); | node.title(); |<br>
			</p><div class="divider"></div><p>
4 | создание модуля - 4й вариант (JSON) |<br>
_.1 | course.js |<br>
_._ | {"js": "a", "node": "b", "xml": "c",} |<br>
_.2 | mods.js  |<br>
_._ | var c = reqiure("./course.js"); |<br>
_._ | console.log(c.node); //b |<br>
			</p><div class="divider"></div><p>
5 | module client.js |<br>
_.1 | var client = function(msg){...} |<br>
_._1 | var http = require('http'); |<br>
_._2 | var opt = {host:'localhost', port:8080, path:'/', method:'POST'}; |<br>
_._3 | var req = http.request(opt, function(res){...} |<br>
_.__ | console.log("Response start"); |<br>
_.__ | res.on('data', function(data){cconsole.log(data.toString);} |<br>
_._4 | req.write(msg); |<br>
_._5 | req.end(); |<br>
_.2 | module.exports = client; |<br>
			</p><div class="divider"></div><p>
6 | встроенные модули |<br>
_.1 | <a href="https://npmjs.org" target="_blank">Node Package Manager</a> |<br>
_.2 | npm ls - список установленных модулей |<br>
_.3 | package.json - чтобы выложить свой модуль в npm |<br>
_._ | {'name':'a', 'description':'b', 'version':1, 'main':'c', 'dependencies': {}} |<br>
_.4 | npm init - сам формирует package.json |<br>
_.5 | npm addUser | npm publish - публикация модуля |<br>
_.6 | npm install - установка модуля |<br>
			</p>
		</div>
	</div>
</div>
<!-- ============================= 05 ===================================== -->
<div class="panel panel-default">
	<div class="panel-heading">
		<a href="#05" data-toggle="collapse" data-panel="#accord">05</a> | express | app.get() |
	</div>
	<div class="panel-collapse collapse" id="05">
		<div class="panel-body">
			<p>
1 | Установка |<br>
_.1 | базируется на фреймворке connect |<br>
_.2 | npm install express | express@3.5.0 - определенная версия |<br>
			</p><div class="divider"></div><p>
2 | Сервер - app.js |<br>
_.1 | var exp = require("express"); |<br>
_.2 | var app = express(); | app.listen(8080); |<br>
_.3 | var names = {'a':'b', 'c':'d'} |<br>
_.4 | app.get('/', function(req,res){res.sendfile(__dirname+ 't.html');}); |<br>
_.5 | __dirname - текущая папка |<br>
_.6 | app.get('/user/:name', function(req,res){var role=names[req.params.name]; ...}); |<br>
_._ | res.write(role); res.end(); |<br>
_.7 | Chrome -> localhost:8080/user/a //'b' |<br>
			</p>
		</div>
	</div>
</div>
<!-- ============================= 06 ===================================== -->
<div class="panel panel-default">
	<div class="panel-heading">
		<a href="#06" data-toggle="collapse" data-panel="#accord">06</a> | ejs | res.render() | request() |
	</div>
	<div class="panel-collapse collapse" id="06">
		<div class="panel-body">
			<p>
1 | EJS - Embedded JavaScript |<br>
_._ | шаблонизатор |<br>
_.1 | npm install ejs |<br>
_.2 | user.ejs |<br>
_._ | h3{User <%= name%> known as <%= role%>} |<br>
_.3 | app.js |<br>
_._ | app.set('view',__dirname); - местоположение файлов для представлений |<br>
_._ | app.set('view engine','ejs'); |<br>
_._ | res.render('user',{name:req.params.name, role:role}); |<br>
			</p><div class="divider"></div><p>
2 | Request |<br>
_.1 | npm install request |<br>
_.2 | var request = require('request'); |<br>
_.3 | app.get('/user/:name', function(req,res){...}); |<br>
_._ | var name=req.params.name; |<br>
_._ | var needUrl = 'http://localhost:8080/?name='+name; |<br>
_._ | request(needUrl, function(err,res,body){console.log(body);} |<br>
			</p>
		</div>
	</div>
</div>
<!-- ============================= 07 ===================================== -->
<div class="panel panel-default">
	<div class="panel-heading">
		<a href="#07" data-toggle="collapse" data-panel="#accord">07</a> | io.sockets.on() | jade |
	</div>
	<div class="panel-collapse collapse" id="07">
		<div class="panel-body">
			<p>
1 | socket.io |<br>
_.1 | AJAX - соединяется и отключается, не подходит для чатов |<br>
_.2 | WebSocket | Comet |<br>
_.3 | <a href="https://socket.io/" target="_blank">Официальный сайт</a> |<br>
_.4 | npm i socket.io |<br>
			</p><div class="divider"></div><p>
2 | server.js |<br>
_.1 | var socket = require('socket.io'); | express |<br>
_.2 | var app = express(); |<br>
_.3 | var io = socket.listen(app.listen(8080)); |<br>
_.4 | app.get('/', function(req,res){res.send(__dirname+'<kbd>/index.html</kbd>');}); |<br>
_.5 | io.sockets.on('connection, function(client){console.log('connected'; ...);});) |<br>
_._ | cleint.emit('message', {hello:'Guest'}); |<br>
_._ | cleint.on('message', function(data){console.log(data);} |<br>
_.6 | client.brodcast.emit(...) |<br>
			</p><div class="divider"></div><p>
3 | <kbd>index.html</kbd> |<br>
_.1 | script src="/socket.io/socket.io.js" - файла нет, но так нужно прописать |<br>
_.2 | script var socket=io.connect('http://localhost:8080'); |<br>
_.3 | socket.emit('message', 'John'); |<br>
_.4 | socket.on('message', function(data){alert(data.hello);} |<br>
_.5 | butoon onclick="getName()"{Представтесь} |<br>
_.6 | function getName(){var n=prompt('Your name?','Guest'); if(n)socket.emit('message',n)} |<br>
			</p><div class="divider"></div><p>
4 | Jade |<br>
_.1 | npm i jade |<br>
_.2 | index.jade |<br>
_._ | html>h1... | script src="/socket.io/socket.io.js" |<br>
_.3 | server.js |<br>
_._ | app.set('views', __dirname); app.set('view engine','jade') |<br>
_._ | app.get('/', function(req,res){res.render('page');}); |<br>
_._ | app.use(express.static(__dirname+'/folder')); |<br>
v7 end |<br>
			</p>
		</div>
	</div>
</div>
<!-- ======================================== Next ======================================== -->		    
</div>	    
</div>
</div>
</div>
<script src="../_js/jquery.min.js"></script>
<script src="../_js/bootstrap.min.js"></script>
<script src="../_js/front.js"></script>
</body>
</html>